<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI-Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 class="heading">---Chats---</h2>
    <a href="http://localhost:1999/chats/new" class="new-chat" >New Chat</a>
    <%for(let chat of chats){%> 
        <div class="chat-box" >
            <h4>From: <%=chat.from%></h4>
            <div class="message">
                <p>message: <%=chat.content%></p>
            </div>
            <a href="http://localhost:1999/chats/<%=chat.id%>/edit" class="new-chat">Edit</a>
            <h5 class="received">Received to: <%=chat.to%></h5>
            <h5>At: <%=chat.createdAt.toString().split(" ")[4]%></h5>
            <form method="post" action="http://localhost:1999/chats/<%=chat.id%>?_method=DELETE">
                <button class="new-chat">Delete</button>
            </form>
        </div>
    <%}%>
</body>
</html>

